/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Styling of logo in header */


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #221E1C;
    display: flex;
    justify-content: space-between;
   

}
img {
    max-width: 50%;
    height: auto;
    display: inline;
    object-fit: contain;
    justify-content: space-between;
    position: relative;

}
.hidden-heading {
    display: none;
}

/* Style to navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%px;
}
 li {
    display: inline-block;
    text-align: center;
 }
li a {
    display: block;
    color: #7b6f65;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #221E1C;
    color: #d1cac7;
}

.active {
    background-color: #221E1C;
    color: #d1cac7;
}
/* Footer */

footer {
    display: block;
    font-style: normal;
    max-width: 50%;
    height: auto;
    text-align: center;
    font-size: 10px;
    margin: 10px;
    margin-left: 0;
}

footer>a {
    text-decoration: none;
}