/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Styling of logo in header */


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #221E1C;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
img {
    max-width: 50%;
    height: auto;
    position: relative;
    display: inline;
    object-fit: contain;
}
.hidden-heading {
    display: none;
}


/* styling of Navigation bar */
header a {
    text-decoration: none;
    color: #7B6F65;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #221e1c;
}

/* navigation bar with dropdown taggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #221E1C;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-lable {
    font-size: 2rem;
}

/* Main contant */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
}

/* Footer */

footer {
    display: block;
    font-style: normal;
    max-width: 50%;
    height: auto;
    text-align: center;
    font-size: 10px;
    margin: 10px;
    margin-left: 0;
}

footer>a {
    text-decoration: none;
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1 rem;
    }

    .nav-toggle-lable {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 79px;
    }

}