/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/* Overide defualt browser styles and add General styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling body and header using code from love-running with some own modification */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #221E1C;
    background-color: #E1DDDB;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    background-color: #ffffff;
    padding: 0 3rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #221e1c;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #221E1C;
}

/* Styling of my own designd logo in header */
#logo {
    width: 110px;
    height: auto;
    object-fit: contain;
}

/* Styling navbar using love runnig and w3schools.com */

ul {
    font-size: 130%;
    font-weight: 300;
    list-style-type: none;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul>li {
    margin-bottom: 1em;
}

.active {
    background-color: #E1DDDB;
    border-radius: 4px;
}

a:hover {
    background-color: #E1DDDB;
    border-radius: 4px;
}

/* styling dropdown effect to navbar */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px #221e1c;
}

#nav-drop:checked~nav {
    display: block;
}

#nav-drop {
    display: none;
}

.nav-drop-icon {
    font-size: 2rem;
    color: #221E1C;
}

.nav-drop:hover {
    background: #d1cac7;
    border-radius: 4px;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/* Hero section code from love running with some own modification */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/hero3.webp")no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(62, 56, 50, 0.816);
    font-size: 130%;
    color: #ffffff;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 25px;
    padding-left: 5px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
}

#cover-text h1 {
    color: #ffffff;
}

#cover-text>p {
    font-style: italic;
}

/* service section */
#service {
    width: 90%;
    margin: 20px auto;
}

#service h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#service h3 {
    text-align: center;
    font-size: 110%;
}

#offers-left>div,
#offers-right>div {
    line-height: 25px;
    margin-bottom: 20px;
}

#service-offers p {
    padding: 0 20px;
}

#service-offers hr {
    border-top: 1px solid #221E1C;
    margin: 5px 0;
}

/* styling service images inspiration from love running and w3schools.com */
#repair-image,
#special-image,
#sorting-image,
#depot-image {
    width: 90%;
    height: auto;
    margin-left: 10px;
    object-fit: contain;
    border-style: solid;
    border-color: #221E1C;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(34, 30, 28, 0.765);
}

/* styling of About Us page */
#fact {
    width: 90%;
    margin: 20px auto;
}

#fact h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#fact p {
    padding: 0 20px;
}
#fact hr {
    border-top: 1px solid #221E1C;
    margin: 5px 0;
}

#fact h3 {
    text-align: center;
    font-size: 120%;
    
}
.column {
    width: 100%;
    display: block;

}
.title {
    text-align: center;
}
.card, .card2 {
    box-shadow: 0 4px 8px 0 rgba(34, 30, 28, 0.765);
}

#stefan, #johan {
    margin-left: 0;
}


.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

/* Styling Gallery page with with some code from W3schools.com */
.hidden-heading {
    display: none;
}

div.gallery {
    width: 100%;
    margin-top: 10%;
    justify-content: center;

}

div.gallery img {
    width: 90%;
    height: auto;
    margin-left: 15px;
    object-fit: contain;
    border-style: solid;
    border-color: #221E1C;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(34, 30, 28, 0.765);
}

#wooden-label {
    margin-bottom: 10%;
}

 /* Contact form */
 #contact {
    font-family: Roboto, sans-serif;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(62, 56, 50, 0.781);
    padding: 30px;
    color: white;
}
#contact h2 {
    text-align: center;
}
#contact p {
    text-align: center;
    font-style: italic;
}
/* css styling of input, select and textarea with inspiration from W3Schools */
input[type=text],
input[type=email],
select,
textarea {
    font-family: Roboto, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* styling the submit button */
#contact button[type=submit] {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    padding: 10px 20px;
    border: solid;
    border-radius: 5px;
}
/* styling the submit page  */
#main-heading {
    text-align: center;
    margin-top: 20px;
}
/* Footer */
footer {
    display: flex;
    background-color: #ffffff;
    justify-content: space-evenly;
    display: block;
    text-align: center;
}

/* Media query with some parts of code used from love running project. */

@media screen and (min-width: 768px) {

    /* Company logo*/
    #logo {
        width: 160px;
        margin-bottom: -20px;
        margin-left: 10%;
    }

    /* the nav.bar*/
    nav {
        padding-right: 1rem;
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    ul {
        display: flex;
    }

    ul>li {
        padding-left: 1rem;
    }

    .nav-drop-icon {
        display: none;
    }

    /* main section in every page */
    main {
        margin-top: 79px;
    }

    /* Hero section */
    #cover-text {
        width: 300px;
        right: 50px;

    }

    /* About us section */
    .column {
        float: left;
        width:50%;
        padding: 0 30px;
    }
    .card2 {
        margin-top:-1.2em;
    }
    /* Gallery section */
    div.gallery {
        width: 50%;
        margin: 6px 0;
        float: left;
    }
    div.gallery img {
        margin-top:10px;
        margin-left:5%;
    }
    #repair-image,
    #special-image,
    #sorting-image,
    #depot-image{
        margin-left:5%;
    }
    
}
@media screen and (min-width: 992px){
 /* Service section */

 .container1, .container2 {
    display: flex;
    align-items: center;
    }

    #container1-text {
    margin-left: 20px;
    order: 1;
    }

    #repair-image, #special-image {
    margin-left: 0;
    }
    
    #depot-image {
    margin-bottom: 30px;
    }

    #service-offers hr {
    width: 90%;
    }

}